<div class="row">
  <div class="co-xs-12">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row mb-2">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success mr-3"
            [disabled]="!editForm.valid">Save</button>
          <button
            type="button"
            class="btn btn-danger"
            routerLink="../">Cancel</button>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" formControlName="name">
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
              #imgPath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imgPath.value" class="image-responsive" style="height: 300px">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="name"
              class="form-control"
              formControlName="description"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row" formArrayName="ingredients">
        <div class="col-xs-12">
          <label>Ingredients</label>
          <div
            class="row mb-2"
            *ngFor="let ingCtrl of controls; let i = index"
            [formGroupName]="i">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Ingredient Name">
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
                placeholder="Amount">
            </div>
            <div class="col-xs-2">
              <button
                class="btn btn-danger btn-sm"
                type="button"
                (click)="onDeleteIngredient(i)">
                <span class="glyphicon glyphicon-erase"></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-default btn-sm"
                (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>